* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-y: overlay;
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}

nav {
    height: 80px;
}

.name {
    font-size: 24px;
    font-weight: 700;
    margin-left: 25px;
    margin-top: 30px;
    width: auto;
    float: left;
    color: #1A1C1E;
}

.name:hover {
    cursor: default;
}
 
.list-item {
    float: right;
    margin-right: 25px;
    margin-top: 20px;
}

.list-item li {
    float: left;
    padding: 13px 13px;
    font-size: 18px;
    border-radius: 3px;
}

.nav-links {
    position: relative;
    color: #1A1C1E;
    font-weight: 700;
    transform: color 0.4 ease-in-out;
}

.nav-links::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1A1C1E;
    color: #1A1C1E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links:hover {
    color: #373737;
}

.nav-links:hover::after { 
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #1A1C1E;
}

.home {
    width: 50%;
    height: 900px;
    padding: 10px;
    float: left;
    text-align: center;
}

.home-page {
    width: 560px;
    margin-top: 40%;
    margin-left: 120px;
    color: #1A1C1E;
}   

#wave {
    font-size: 32px;
}

#wave:hover, #small-intro:hover {
    cursor: default;
}

.special {
    color: #f15d58;
}

#small-intro {
    font-size: 24px;
    margin-bottom: 20px;
}

.skills {
    float: right;
    margin-bottom: 20px;
}

.icon {
    width: 30px;
    height: 20px;
}

.skills li {
    float: left;
    padding: 10px;
    margin: 10px 0px 10px 15px;
    border: 1px solid #1A1C1E;
    border-radius: 15px;
    transition: all .2s ease-in-out;
}

.skills li:hover {
    cursor: default;
    transform: scale(1.2);
}

#fake-pic {
    width: 50%;
    float: right;
    height: 900px;
}

#memoji {
    background-color: #f15d58;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    width: 50%;
}

#projects {
    clear: both;
    margin-top: 25px;
    height: 1300px;
}

#present-project {
    margin-top: 25px;
    font-size: 32px;
    text-align: center;
}

#present-project span {
    color: #f15d58;
}

.project-outer {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 75px;
    margin: 20px 0px;
    place-items: center
}

.project-inner {
    width: 550px;
    height: 425px;
}

.app-title {
    margin-bottom: 15px;
    text-align: center;
}

.project-card {
    background-color: #313233;
    width: 550px;
    height: 340px;
    border-radius: 15px;
    color: #EFF1F3;
    transition: all .2s ease-in-out;
}

.project-card:hover {
    background-color: #1A1C1E;
    transform: scale(1.1);
}

.app-image {
    height: 300px;
    width: 500px;
    margin: 20px 0px 0px 25px;
    border-radius: 15px;
}

.figcaption {
    margin: 30px 0px 30px 0px;
    font-size: 18px;
    text-align: center;
    color: #1A1C1E;
}

.website {
    position: relative;
    color: #f15d58;
    font-weight: 700;
    transform: color 0.4 ease-in-out;
}

.website::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f15d58;
    color: #f15d58;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.website:hover {
    color: #f15d58;
}

.website:hover::after { 
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #f15d58;
}

#about {
    float: left;
    height: 500px;
    width: 50%;
}

#bio {
   color: #1A1C1E;
   width: 90%; 
   font-size: 18px;
   text-align: left;
   padding: 20px;
   margin: 75px 0px 0px 20px;
}

#about-me {
    text-align: start;
    font-size: 32px;
    font-weight: 800;
}

#about-title {
    margin-top: 10px;
    font-size: 36px;
    color: #f15d58;
}

#background {
    margin-top: 15px;
}

.resume-space {
    margin: 25px 0px 0px 20px;
}

#resume {
    font-size: 24px;
    font-weight: 200px;
    margin: 25px 0px 0px 20px;
    color: #1A1C1E;
}

#resume:hover::after {
    background-color: #1A1C1E;
}

.portrait {
    width: 50%;
    float: right;
    height: 500px;
}

.background-image {
    width: 350px;
    height: 400px;
    background-color: #f15d58;
    display: block;
    margin: 50px auto 0px auto;
    border-radius: 15px;
    text-align: center;
}

#selfie {
    width: 300px;
    height: 400px;
}

#contact {
    clear: both;
    height: 500px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(400px, auto);
    padding: 20px;
    font-size: 1.2rem;
}

.side-one {
    width: 70%;
    text-align: center;
    margin: 75px 0px 0px 75px;
}

.side-one h1 {
    color: #f15d58;
}

.network {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

.social {
    height: 75px;
}

.side-two {
    width: 100%;
    margin-top: 50px;
}

.side-two input {
   height: 30px;
   margin: 10px 0px;
   border: 2px solid #f15d58;
   border-radius: 5px;
}

.send, .long {
    width: 75%;
    padding: 10px;
    border: 2px solid #f15d58;
    border-radius: 5px;
}

.long {
    margin: 10px 0px;
    height: 100px;
}

.submit-container {
    display: block;
}

.submit {
    font-size: 1rem;
    height: 35px;
    width: 125px;
    background-color: #f15d58;
    border: #f15d58;
    border-radius: 5px;
}

.submit:hover {
    cursor: pointer;
}

@media (min-width: 1800px) {
    .home-page {
        margin-top: 30%;
        margin-left: 250px;
    }

    .project-outer {
        column-gap: unset;
    }
}

@media only screen and (max-width: 1075px) {
    .name {
        display: none;
    }

    .home-page {
        width: 100%;
    }

    #fake-pic {
        width: unset;
    }

    #memoji {
        display: none;
    }

    #projects {
        height: auto;
    }

    .project-outer {
        display: unset;
        place-items: center;
    }

    .project-inner, .project-card {
       width: 95%;
       margin-left: 10px;
    }

    .project-inner {
        margin-top: 80px;
    }

    .app-image {
        width: 85%;
    }

    #about {
        width: 90%;
        height: auto;
    }

    .portrait {
        display: none;
    }

    .wrapper {
        display: list-item;
    }
}
